*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-image{
    background: url('img/main.jpg') center no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    float: none;
  }

  #main-image h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
  }
  
  .button-1{
    display: block;
    width: 120px;
    height:50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
  }
  
  .button-1:hover{
    background: #02b8dd;
    text-decoration: none;
    color: #fff;
  }

  img{
      width: 150px;
      height: 150px;
  }